/**
 * @file button.css
 * 
 * @brief Control the look of the buttons on the pages of the store.
 * 
 * @author David Petrovski
 * @author Isabelle Coletti
 * @author Amanda Zedwick
 * 
 * CSCI 466 - 1
 */


input[type=submit]
{
    background: #60706E;                  /* Selects the normal background color */
    color: #FAFAFA;                       /* Selects the font color */
    border: none;                         /* Removes border */
    padding: 8px;                         /* Adds padding around text */
    font-family: "Gill Sans", sans-serif; /* Sets font */
}


input[type=submit]:hover
{
    background: #8AA29E;   /* Selects color when hovering over button */
    cursor: pointer;       /* Makes cursor turn into a pointer when hover over */
}


.view_order_btn
{
    font-size: 25px; /* Sets buttons fonts size */
    width: 200px;    /* Sets buttons width */
}


.view_inventory_btn
{
    font-size: 25px; /* Sets buttons fonts size */
    width: 200px;    /* Sets buttons width */
}


.return_btn
{
    font-size: 15px; /* Sets buttons font size */
    width: 100px;    /* Sets buttons width */

    /* Positions button to be inline with the rest of the text and on the left side of the page */
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
}


input[type=submit].remove_items_btn
{
    background: #DB5461; /* Selects the normal background color */
}


input[type=submit]:hover.remove_items_btn
{
    background: #ef939c; /* Selects color when hovering over button */
}

input[type=submit].checkout_btn
{
    width: 80%;
    font-size: 18px;
}