/**
 * header.css
 * 
 * David Petrovski, Isabelle Coletti, Amanda Zedwick
 * 
 * CSCI 466 - 1
 */
header 
{
    text-align: left;           /* Alligns text in the header to the left */
    background: #3bbfa0;      /* Background color of the header element */
    font-family: Comic Sans MS; /* Font for the text in the header */

    /* Creates a solid border with a width of 3 pixels and beige color */
    border: 3px;                
    border-style: solid;        
    border-color: beige; 
}

header h2
{
    padding: 15px; /* Creates a padding online for the h2 element */
}

.logo
{
    float: left;        /* Makes the logo go to the left of the page */
    margin-right: 20px; /* Gives space to the right for the text */
    width: 100px;       /* Width of the logo */
    height: 100px;      /* Height of the logo */
}

.e_login
{
    float: right;              /* Makes the text float to the right of the page */
    background-color: beige; /* Changes the background of the element */
    margin-top: 70px;          /* Moves it lower on the page */
    margin-right: 5px;
    padding: 3px;              /* Creates a space around the text */
    font-size: 12px;           /* Changes font size */
    color: black;            /* Changes color of the font since its a hyper link */

    /* Creates a solid border with a width of 3 pixels and beige color */
    border: 3px;    
    border-style: solid;        
    border-color: beige; 
}